.main-container{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #232537;
  width: 100vw;
  height: 100%;
  display: flex;
  padding: 24px; /* ou o valor que preferir */
}
.app-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}
.search-container{
  margin-bottom: 10px;
}

input{
  padding-left: 10px;
  width: 15vw;
  height: 5vh;
  align-items: center;

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigator{
  
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 176, 86);
}

.navigator a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.navigator a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}
.navigator h1{
  margin-bottom: 3vh;
  font-weight: bolder;
}

a{
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  margin-right: 20px;
}
.search-bar {
  position: relative;
  margin-bottom: 20px;
  max-width: 450px;
}