.container{
    height: 85vh;
    width: 85vw;
    display: flex;
    flex: column;
    background-color: #1e2130;
    color: #333;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    padding: 80px;
    padding: 20px 20px 80px 20px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
}